body {
  margin: 0;
  font-size: 1.2em;
}
header {
  width: 70%;
  margin: 4em;
}
.table-container {
  width: 70%;
  margin: 4em;
}

table {
  border: 1px solid black;
}

th {
  text-align: left;
}
td {
  width: 10em;
  writing-mode: vertical;
}
